/* src/components/Menu.css */

/* Style pour le conteneur du menu */
.menu {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Style pour la liste du menu */
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Style pour chaque élément du menu */
.menu li {
  display: inline;
  margin-right: 20px;
}

/* Style pour les liens du menu */
.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}

/* Style pour les liens actifs du menu */
.menu a.activeLink {
  color: #ffcc00;
  /* Couleur différente pour les liens actifs */
}
